<!DOCTYPE html>
<html ng-app='MsgApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Check the number of items</title>
  </head>
  <body>
    <h1>Check the number of items</h1>
    <div ng-controller='MsgController'>
      <div>
        <input type="text"
          ng-model="item"
          >
      </div>
      <br>
      <div>
        <button ng-click="checkIfTooMuch()">Check If Too Much</button>
        <br>
      </div>
      <div>
        {{textMessage()}}
      </div>
    </div>
  </body>
</html>
